:root {
  --clock-color: black; 
  --timer-color: darkgreen; 
  --button-pricolor: #e5f2f2; 
  --button-seccolor: #cff2f2; 
}

* {
  margin: 0;
}

html,
body {
  width: 200px;
}

button {
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  background-color: var(--button-pricolor);
  width: 30%;
}

.timer-buttons {
  display: flex;
  padding: 2px;
  gap: 10px;
  margin-top: 1em;
}
  
.container {
  display: flex;
  flex-direction: column;
  width: 100%; 
  background-color: var(--clock-color);
}

.settings_button { 
  margin-right: 0.2em;
  margin-top: 0.2em;
  margin-left: auto;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: flex-end; 
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

button:hover {
  background-color: var(--button-seccolor);
}

p {
  margin-top: 0.2em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--timer-color);
  margin-left: 1em;
  width: 69%; 
}
